<div class="center hero-unit">
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
<<<<<<< HEAD
EMAIL: tc@gmail.com
=======
	Contact Ruby on Rails Tutorial about the sample app at the
	<a href="http://railstutorial.org/contact">contact page</a>.
>>>>>>> 2b8dbfa4c988c31ac9cbc64eb779280f6f8a5386
</p>
<p>
TEL. NUMBER: 123456789
</p>
</div>
