<div class="center hero-unit">
<<<<<<< HEAD
<h1>Welcome to TCreator</h1>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<div>
or
<%= link_to "Sign in!", signin_path%>
=======
	<h1>Welcome to the Sample App</h1>
	<h2>
		This is the home page for the
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application.
	</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
>>>>>>> 2b8dbfa4c988c31ac9cbc64eb779280f6f8a5386
</div>
</div>
<p>
<img alt="Obr1" src="/assets/tree.png" />
</p>



