<div class="center hero-unit">
	<h1>Welcome to TCreator</h1>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	<div>
		or
		<%= link_to "Sign in!", signin_path%>
	</div>
</div>
<p>
	<img alt="Obr1" src="/assets/tree.png" />
</p>